node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
attached_assets/Pasted--Skip-To-Content-Dashboard-Trevor-Hicks-Account-Dashboard-Courses-Calendar-Inbox-History-1-1748027672651.txt
